* {
  transition: all 0.2s ease;
}
body {
  margin: 0;
  background: #0f172a;
  color: #e2e8f0;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  padding: 16px;
  font-size: 20px;
  border-bottom: 1px solid #1e293b;
}
h3 {
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  color: #101216;
  font-weight: bold;
}